

<%- include ../partials/homeheader %>
<head>
    <link rel="stylesheet" href="/stylesheets/emailcheck.css">
</head>


<div class="awrap">
    <% if(errorMsg !=null && errorMsg.length>0) {%>
        <div id="flash-msg" class="alert alert-danger" style="position:absolute;top: 20%;left: 50%;transform: translate(-50%,-50%);width: fit-content;"><%=errorMsg %></div>
        <%}%>
    <div class="acontainer" id="container" style="width: 400px;min-height: 420px;">
        
      <div class="form-container sign-in-container" style="width: 100%;top: 20%;">

        <form  action="/user/resetpassword" method="post">
          <input type="password" placeholder="New Password" name="password" required/>
         <p style="margin: 0px;color: red;font-size: 10px;margin-left: -25px;">*Please enter a password with 4 or more characters</p>
          <input type="password" placeholder=" Verify New Password" name="password2" required/>
        
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="id" value="<%= id %>" />
          <button>Submit</button>
        </form>
      </div>
     <div class="overlay-container" style="width: 100%;height: 40%;left: 0;">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <svg class="icon" style="margin: 0; font-size: 60px;fill:rgb(6, 171, 236)">
                <use xlink:href="#icon-lock"></use></svg >
            <h2 style="color: white;">Reset Password</h2> 
          </div>
        </div>
      </div> 
    </div>
  </div>
   


    <svg>

        <symbol id="icon-lock" viewBox="0 0 1792 1792">
            <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
          </symbol>
        </svg>
<%- include ../partials/homefooter %>
