<%- include ../partials/homeheader %>

<div id="content">
    <a id="maincontent"></a>
    <div id="js-values" class="js-values" data-page_title="Algoan | Algoan | Credit decisioning as a service" data-body_class="home page-template-default page page-id-4 cssc-is-responsive has-post-thumbnail post-name_home"
        data-lang="fr,pt,es,it,en" data-lang-fr="https://www.algoan.com/fr/" data-lang-pt="https://www.algoan.com/pt/" data-lang-es="https://www.algoan.com/es/" data-lang-it="https://www.algoan.com/it/" data-lang-en="https://www.algoan.com/"></div>
    <div class="cc-block--master-header-wrapper">
        <section class="centered-container section cc-block--master-header" data-post-type="page">
            <picture class="block--master-header__bg">
                <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/04/home_hero_mobile-2.jpg">
                <img width="1800" height="1000" src="https://www.algoan.com/wp-content/uploads/2021/04/home_hero-2.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" /> </picture>
            <video data-desktop-only="1" data-video-size="desktop" data-wpu-acf-video="1" autoplay loop muted playsinline><source data-src="https://www.algoan.com/wp-content/uploads/2021/04/home1080p-3.mp4" type="video/mp4" /></video><video data-mobile-only="1"
                data-video-size="mobile" data-wpu-acf-video="1" autoplay loop muted playsinline><source data-src="https://www.algoan.com/wp-content/uploads/2021/04/algoan_hero-mobile-video.mp4" type="video/mp4" /></video>
            <div class="block--master-header">
                <div class="block--master-header__inner will-scrollanim" data-loader-delay="700" data-usechildren="1" data-delay="300">
                    <h1 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="300" class="h1 field-title">Brighten Up Yourself
                        With Some <span style="color: violet;">Latest Skills</span> </h1>
                    <div class="field-master_header_intro cssc-content">
                        <p data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="300">Learn Any Skill At Your Own Pace With Personal Mentorship And Immediate
                            Doubt Clearing By Your Own Dude.</p>
                    </div>
                    <div class="field-cta pt-12"><a class="acfflex-link algoan-button algoan-button--white algoan-button--size-second " rel="noopener" target="" href="#courseid"> <span></span>Get started </a></div>
                </div>
            </div>
            <!-- <div class="master-header-cursor"><i class="fa fa-arrow-right"></i></div> -->
        </section>
    </div>
    <div class="block-master-header-cover"></div>
    <div id="after-master-header"></div>
    <div class="main-content"  style="background-color: #fff;">
        <div data-group="content-blocks">

        <!-- course section-->
            <!-- <section data-design="clear" class="centered-container section cc-block--posts">
                <div class="block--posts section">
                    <div class="loops__header">
                        <h2 class="form-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <div data-vawjs-lines="1" data-vawjs-anim="slideup">Blog & Resources</div>
                        </h2>
                        <a title="View all" class="acfflex-link " rel="noopener" target="" href="https://www.algoan.com/blog/"> <span>View all</span> </a> </div>
                    <ul class="loops__list loops__list--slide will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="200">
                        <li>
                            <div class="loop" data-post-type="post">
                                <div class="loop__container" style="background-image: url(https://www.algoan.com/wp-content/uploads/2021/02/visuel-news-2-1-931x1280.png);">
                                    <div class="loop__inner">
                                        <div class="loop-surtitle">
                                            White papers<span class="sep"> • </span>01.02.2021 </div>
                                        <h3 class="loop-title">
                                            <a href="https://www.algoan.com/white-papers/are-you-ready-to-accelerate-the-usage-of-open-banking-credit-decisioning-in-the-lending-industry/">Are you ready to accelerate the usage of Open Banking Credit Decisioning in the Lending Industry?</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="loop" data-post-type="post">
                                <div class="loop__container" style="background-image: url(https://www.algoan.com/wp-content/uploads/2020/12/mayofi-bmj1vl77zwm-unsplash-640x427.jpg);">
                                    <div class="loop__inner">
                                        <div class="loop-surtitle">
                                            Articles<span class="sep"> • </span>19.11.2020 </div>
                                        <h3 class="loop-title">
                                            <a href="https://www.algoan.com/articles/post-1/">Credit Decisioning as a Service: How Does Algoan Leverage Open Banking to Serve the Credit Industry</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="loop" data-post-type="post">
                                <div class="loop__container" style="background-image: url(https://www.algoan.com/wp-content/uploads/2020/12/adeolu-eletu-unrkg2jh1j0-unsplash-640x424.jpg);">
                                    <div class="loop__inner">
                                        <div class="loop-surtitle">
                                            Articles<span class="sep"> • </span>15.12.2020 </div>
                                        <h3 class="loop-title">
                                            <a href="https://www.algoan.com/articles/open-banking-credit-industry/">Open Banking is a Great Opportunity for the Credit Industry in France and Elsewhere</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section> -->
            <section data-design="clear" class="centered-container section cc-block--posts" id="courseid">
                <div class="block--posts section">
                    <div class="loops__header">
                        <h2 class="form-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800"><div data-vawjs-lines="1" data-vawjs-anim="slideup" data-hasscrollanim="1" data-active="1" data-vawjs-ready="1"><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Hone your </span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;"> software skills</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;"> time and again</span></span></div></h2>
                        
                            </div>
        <%for(let i=0;i<category.length;i++){%>
             <div style="margin-bottom: 20px;">
             <h2 class="text-xl font-semibold"> <%=category[i].title%> </h2>  
             </div>     
                    <ul class="loops__list loops__list--slide will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="200">
              <%for(let j=0;j<course.length;j++){%>
                  <%if(course[j].category.title===category[i].title){%>       
                    <li data-hasscrollanim="1" data-active="1"><div class="loop" data-post-type="products">
                        <a href="/course/<%=course[j]._id%>">
                        <div class="card uk-transition-toggle">
                            <div class="card-media h-40">
                                <div class="card-media-overly"></div>
                                <img src="<%=course[j].course_img%>" alt="" class="" style="background-color: #02466b;">
                              
                            </div>
                            <div class="card-body p-4">
                                <div class="font-bold text-lg line-clamp-2"><%=course[j].title%> </div>
                                <div class="text-sm font-medium" >· <%=course[j].tutor_name%> </div>
                                
                                <div class="pt-1 flex items-center justify-between">
                                    <div class="flex space-x-2 items-center text-sm ">
                                        <div>· <%=course[j].course_data.total_hours%> hours  </div>
                                        <div> · </div>
                                        <div><%=course[j].course_data.no_of_videos%> lectures </div>
                                    </div>
                                    <div class="text-lg font-semibold"> ₹<%=course[j].price%> </div>
                                </div>
                        <div  class="pt-1" ><div style="display:flex;flex-direction: row;justify-content: space-between;color: orangered;" >Explore this Course<img src="/assets/images/avatars/red-arrow.svg" alt="" style="margin-top: 2px;"></div></div>
                            </div>
                        </div>
                    </a>
                </div>
                </li>
                <%}%>
                <%}%>
              
                  
                <!-- <li data-hasscrollanim="1" data-active="1"><div class="loop" data-post-type="products">
                    <div class="loop__container" style="background-image: url(https://www.algoan.com/wp-content/uploads/2021/03/push_credit-insight.jpg);">
                    <div class="loop__inner">
                        <div class="loop-surtitle">
                            Credit Insights        </div>
                        <h3 class="loop-title">
                            <a href="https://www.algoan.com/products/credit-insights/">Transform raw transaction data into meaningful insights for your lending decisions</a>
                        </h3>
                    </div>
                    </div>
                </div>
                </li>    
                <li data-hasscrollanim="1" data-active="1"><div class="loop" data-post-type="products">
                    <div class="loop__container" style="background-image: url(https://www.algoan.com/wp-content/uploads/2021/03/push_credit-insight.jpg);">
                    <div class="loop__inner">
                        <div class="loop-surtitle">
                            Credit Insights        </div>
                        <h3 class="loop-title">
                            <a href="https://www.algoan.com/products/credit-insights/">Transform raw transaction data into meaningful insights for your lending decisions</a>
                        </h3>
                    </div>
                    </div>
                </div>
                </li>     -->
              </ul>
              <%}%>
                </div>
                </section>





            <!-- <section class="centered-container section cc-block--cta" data-height="full" data-align="right">
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax image-wrapper">
                    <div>
                        <picture class="block--cta__bg">
                            <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/04/product_credit-insight_mobile_bandeau-cta_resize2.jpg">
                            <img width="1800" height="1000" src="https://www.algoan.com/wp-content/uploads/2021/04/home_credit-insight-2.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" /> </picture>
                    </div>
                </div>
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax video-wrapper">
                    <div><video data-intersect-only="1" data-wpu-acf-video="1" autoplay loop muted playsinline><source data-src="https://www.algoan.com/wp-content/uploads/2021/04/creditinsight_anim.mp4" type="video/mp4" /></video></div>
                </div>
                <div class="block--cta">
                    <div class="block--cta__inner will-scrollanim" data-usechildren="1" data-offset="100" data-delay="300">
                        <div data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-surtitle algoan--surtitle">Credit Insights</div>
                        <h2 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-title">Transform raw transaction data into meaningful insights for your lending decisions</h2>
                        <div class="field-cta"><a title="Read more" class="acfflex-link algoan-button algoan-button--white algoan-button--size-second" rel="noopener" target="" href="https://www.algoan.com/products/credit-insight/"> <span>Read more</span> </a></div>
                    </div>
                </div>
            </section> -->
            <section class="centered-container cc-block--columns" style="margin-top: 0px;">
                <div class="block--columns">
                    <div class="block--columns__grid" data-image-position="left" data-image-crop="0">
                        <div class="column-img has-vanilla-jsuparallax">
                            <video data-intersect-only="1" data-wpu-acf-video="1" autoplay="" loop="" muted="" playsinline="" style="will-change: transform; transform: translate3d(0px, 0px, 0px);"><source data-src="https://www.algoan.com/wp-content/uploads/2021/03/algoan_connect1_v2.mp4" type="video/mp4" src="https://www.algoan.com/wp-content/uploads/2021/03/algoan_connect1_v2.mp4"></video>            </div>
                        <div class="column-content will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 data-vawjs-lines="1" data-vawjs-anim="slideup" class="field-title" data-hasscrollanim="1" data-active="1" data-vawjs-ready="1"><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Plug</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">into</span></span><br><u><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">any</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">customer</span></span><br><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0.1s;">journey</span></span></u></h2>
                            <div class="field-content cssc-content" data-hasscrollanim="1" data-active="1"><p><span style="font-weight: 400;">Algoan Connect is the easiest and fastest way to incorporate the Open banking aggregation process in any customer journey in order to be able to leverage Algoan’s Credit Decisioning solutions.</span></p>
            <p>It can be integrated for desktop and/or mobile device usage. And the cherry on the cake, you won’t need to involve your IT teams! Just plug and play our API!</p>
            </div>                <div class="field-cta" data-hasscrollanim="1" data-active="1"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="centered-container section cc-block--cta" data-height="full" data-align="left">
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax image-wrapper">
                    <div>
                        <picture class="block--cta__bg">
                            <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/03/product_score_mobile.jpg">
                            <img width="1800" height="1000" src="https://www.algoan.com/wp-content/uploads/2021/04/score.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" /> </picture>
                    </div>
                </div>
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax video-wrapper">
                    <div><video data-intersect-only="1" data-wpu-acf-video="1" autoplay loop muted playsinline><source data-src="https://www.algoan.com/wp-content/uploads/2021/04/scoreanimation.mp4" type="video/mp4" /></video></div>
                </div>
                <div class="block--cta">
                    <div class="block--cta__inner will-scrollanim" data-usechildren="1" data-offset="100" data-delay="300">
                        <div data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-surtitle algoan--surtitle">Score</div>
                        <h2 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-title">Instantly and easily understand credit scoring for enhanced lending decisions</h2>
                        <div class="field-cta"><a title="Read more" class="acfflex-link algoan-button algoan-button--white algoan-button--size-second" rel="noopener" target="" href="#"> <span>Read more</span> </a></div>
                    </div>
                </div>
            </section>
            <!-- <section class="centered-container section cc-block--cta" data-height="full" data-align="right">
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax image-wrapper">
                    <div>
                        <picture class="block--cta__bg">
                            <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/04/product_dashboard_mobile_bandeau-cta_resize.jpg">
                            <img width="1800" height="1000" src="https://www.algoan.com/wp-content/uploads/2021/04/home_dashboard-1.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" /> </picture>
                    </div>
                </div>
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class="has-vanilla-jsuparallax video-wrapper">
                    <div><video data-intersect-only="1" data-wpu-acf-video="1" autoplay loop muted playsinline><source data-src="https://www.algoan.com/wp-content/uploads/2021/04/dashboardanimation.mp4" type="video/mp4" /></video></div>
                </div>
                <div class="block--cta">
                    <div class="block--cta__inner will-scrollanim" data-usechildren="1" data-offset="100" data-delay="300">
                        <div data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-surtitle algoan--surtitle">Dashboard</div>
                        <h2 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-title">Ramp up your credit decisions with data visualisation</h2>
                        <div class="field-cta"><a title="Read more" class="acfflex-link algoan-button algoan-button--white algoan-button--size-second" rel="noopener" target="" href="https://www.algoan.com/products/dashboard/"> <span>Read more</span> </a></div>
                    </div>
                </div>
            </section> -->
            <section class="centered-container cc-block--columns">
                <div class="block--columns">
                    <div class="block--columns__grid" data-image-position="right" data-image-crop="0">
                        <div class="column-img has-vanilla-jsuparallax">
                            <video data-intersect-only="1" data-wpu-acf-video="1" autoplay="" loop="" muted="" playsinline="" style="will-change: transform;"><source data-src="https://www.algoan.com/wp-content/uploads/2021/03/algoan_chatbot1-1.mp4" type="video/mp4" src="https://www.algoan.com/wp-content/uploads/2021/03/algoan_chatbot1-1.mp4"></video>            </div>
                        <div class="column-content will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <h2 data-vawjs-lines="1" data-vawjs-anim="slideup" class="field-title" data-hasscrollanim="1" data-active="1" data-vawjs-ready="1"><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Our</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">customer</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">onboarding</span></span><u><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">increases</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">your</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">completion</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">rate</span></span></u></h2>
                            <div class="field-content cssc-content" data-hasscrollanim="1" data-active="1"><p>Use our Chatbot to simulate a natural human conversation which – according to A/B testing – is the best way to reassure and convert your customers in an open banking lending process.</p>
            <p>Or alternatively, use an innovative onboarding form to drive your clients through each step of your path.</p>
            <p>Algoan’s customer onboarding can easily be customized to handle your specific lending business objectives and increase your cross-selling opportunities.</p>
            </div>                <div class="field-cta" data-hasscrollanim="1" data-active="1"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="centered-container section cc-block--steps">
                <div class="block--steps section">
                <ul class="items-list will-scrollanim" data-usechildren="1" data-delay="300">
                    <li data-hasscrollanim="1" data-active="1">
                    <div class="block--steps__item">
                    <div class="field-image"><span class="number">1</span></div>
                    <div class="field-description cssc-content"><p>Collect the end user’s consent to share banking information.</p>
                </div>
                    </div>
                    </li>
                        <li data-hasscrollanim="1" data-active="1">
                    <div class="block--steps__item">
                    <div class="field-image"><span class="number">2</span></div>
                    <div class="field-description cssc-content"><p>Retrieve banking transaction history and other important information.</p>
                </div>
                    </div>
                    </li>
                        <li data-hasscrollanim="1" data-active="1">
                    <div class="block--steps__item">
                    <div class="field-image"><span class="number">3</span></div>
                    <div class="field-description cssc-content"><p>Provide an end-to-end credit experience by integrating KYC and e-signature technologies.</p>
                </div>
                    </div>
                    </li>
                    </ul>
                </div>
                </section>
                <section class="centered-container section cc-block--numbers">
                    <div class="block--numbers section will-scrollanim" data-delay="500" data-hasscrollanim="1" data-active="1">
                    <h2 class="field-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800"><div data-vawjs-lines="1" data-vawjs-anim="slideup" data-hasscrollanim="1" data-active="1" data-vawjs-ready="1"><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Built</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">to</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">provide</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">the</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Best</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: -0.1s;">Open</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">Banking</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">Customer</span></span><span class="vawjs-word-wrapper"><span class="vawjs-word" style="animation-delay: 0s;">Experience</span></span></div></h2>
                    <ul class="numbers-list" data-count="3">
                                <li>
                            <div class="field-number h2"><span data-nb="5" class="nb" data-ismorphing="0">5</span>mins</div>
                            <div class="field-label"><p>to go through the full customer journey</p>
                </div>
                            </li>
                                    <li>
                            <div class="field-number h2">+<span data-nb="60" class="nb" data-ismorphing="0">60</span>%</div>
                            <div class="field-label"><p>completion rate vs. a regular form</p>
                </div>
                            </li>
                                    <li>
                            <div class="field-number h2"><span data-nb="90" class="nb" data-ismorphing="0">90</span>%</div>
                            <div class="field-label"><p>end-user satisfaction rate</p>
                </div>
                            </li>
                            </ul>
                    </div>
                </section>
            <!-- <div class="section centered-container cc-wpuacfflexible cc-block-logos cc-block-logos--logos">
                <div class="block--logos">
                    <h2 class="field-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                        <div data-vawjs-lines="1" data-vawjs-anim="slideup"><u>Trusted</u> <br /> by our clients</div>
                    </h2>
                    <div class="logos-list-wrapper" data-count="14">
                        <ul class="logos-list">
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_meilleurtaux.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_drover.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="214" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_carefour.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="214" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_adie.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_bnp.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_franfinance.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="214" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_mymoneybank.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_oney.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="214" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_premista.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="214" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_tourneaux.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_yelloan.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_cofidis.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_alma.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                            <li>
                                <div class="logo-item-content"><img width="476" height="212" src="https://www.algoan.com/wp-content/uploads/2021/03/logo_aria.jpg" class="attachment-medium size-medium" alt="" loading="lazy" /></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
               
            
            
            
           
            <!-- how it works section-->
            <section class="centered-container cc-block--list" data-mobile-center="1">
                <div class="block--list">
                    <div class="block--list__inner">
                        <h2 class="field-title will-scrollanim will-scrollanim-children" data-usechildren="1" data-delay="800">
                            <div data-vawjs-lines="1" data-vawjs-anim="slideup">Why work with us</div>
                        </h2>
                        <ul class="minilist-list will-scrollanim" data-usechildren="1" data-delay="300">
                            <li class="minilist-item" data-has-image="1">
                                <div class="img-wrapper">
                                    <div class="img"><img width="72" height="72" src="https://www.algoan.com/wp-content/uploads/2021/03/picto_certificate.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" /></div>
                                </div>
                                <h3 class="field-title h4"><span>The best of two worlds</span></h3>
                                <div class="field-text cssc-content">
                                    <p><span style="font-weight: 400;">We combine expertise from the scoring and credit industry with the agility of a start-up.</span></p>
                                </div>
                            </li>
                            <li class="minilist-item" data-has-image="1">
                                <div class="img-wrapper">
                                    <div class="img"><img width="72" height="72" src="https://www.algoan.com/wp-content/uploads/2021/03/picto_love.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" /></div>
                                </div>
                                <h3 class="field-title h4"><span>Technology developers love</span></h3>
                                <div class="field-text cssc-content">
                                    <p><span style="font-weight: 400;">A plug &amp; play API technology with no interference with your IT infrastructure and no need for extra developments.</span></p>
                                </div>
                            </li>
                            <li class="minilist-item" data-has-image="1">
                                <div class="img-wrapper">
                                    <div class="img"><img width="72" height="72" src="https://www.algoan.com/wp-content/uploads/2021/03/picto_security.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" /></div>
                                </div>
                                <h3 class="field-title h4"><span>Security & Data Confidentiality</span></h3>
                                <div class="field-text cssc-content">
                                    <p><span style="font-weight: 400;">GDPR and PSD2 compliance are at the core of what we do. </span><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Our infrastructure benefits from the highest level of security of Google Cloud.</span></p>
                                </div>
                            </li>
                            <li class="minilist-item" data-has-image="1">
                                <div class="img-wrapper">
                                    <div class="img"><img width="72" height="72" src="https://www.algoan.com/wp-content/uploads/2021/03/picto_security.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" /></div>
                                </div>
                                <h3 class="field-title h4"><span>Security & Data Confidentiality</span></h3>
                                <div class="field-text cssc-content">
                                    <p><span style="font-weight: 400;">GDPR and PSD2 compliance are at the core of what we do. </span><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Our infrastructure benefits from the highest level of security of Google Cloud.</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="block--list__icon has-vanilla-jsuparallax" data-jsuplxperspective="100"><i class="icon icon_algoan-7"></i></div>
                </div>
            </section>
           <!-- start faq section -->
                <section id="full-faq">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="section-heading text-center">
                                    <h6>Frequently Asked Questions</h6>
                                    <h2>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="accordion faq-area" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header active" id="heading1">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                                                        aria-controls="collapse1">
                                                        Collapsible Group Item #1 <span class="fa fa-caret-up"></span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapse1" class="collapse show" aria-labelledby="heading1"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Some placeholder content for the second accordion panel. This panel is hidden by
                                                    default.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading2">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                                        aria-controls="collapse2">
                                                        Collapsible Group Item #2 <span class="fa fa-caret-down"></span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Some placeholder content for the second accordion panel. This panel is hidden by
                                                    default.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading3">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                                                        aria-controls="collapse3">
                                                        Collapsible Group Item #3 <span class="fa fa-caret-down"></span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Some placeholder content for the second accordion panel. This panel is hidden by
                                                    default.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="heading4">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                                                        aria-controls="collapse4">
                                                        Collapsible Group Item #4 <span class="fa fa-caret-down"></span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Some placeholder content for the second accordion panel. This panel is hidden by
                                                    default.
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    <!-- end faq -->

            <!-- enroll now section-->
            <section class="centered-container section cc-block--cta" data-height="default" data-align="left-wide">
                <div data-jsuplxdir="bottom" data-jsuplxperspective="200" class=" image-wrapper">
                    <div>
                        <picture class="block--cta__bg">
                            <source media="(max-width: 768px)" srcset="https://www.algoan.com/wp-content/uploads/2021/04/home_hero_mobile-2.jpg">
                            <img width="1800" height="726" src="https://www.algoan.com/wp-content/uploads/2021/04/home_small-4.jpg" class="attachment-2048x2048 size-2048x2048" alt="" loading="lazy" /> </picture>
                    </div>
                </div>
                <div class="block--cta">
                    <div class="block--cta__inner will-scrollanim" data-usechildren="1" data-offset="100" data-delay="300">
                        <h2 data-vawjs-anim="slideup" data-vawjs-lines="1" data-vawjs-delay="150" class="field-title">We help you make the best risk decisions throughout the credit lifecycle</h2>
                        <div class="field-cta"><a  class="acfflex-link algoan-button algoan-button--white algoan-button--size-second" rel="noopener" target="" href="/user/signin"> <span>Login Now</span> </a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<%- include ../partials/homefooter %>